.fade-appear {
  opacity: .01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all .3s ease-in;
}
.fade-enter {
  opacity: .01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 5s ease-out;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: .01;
  transition: all 5s ease-out;
}
